<h1>Github View</h1>
<div class="whatever">
<% @contrib.each do |x| %>
  <ul>
    <li><%= x[:login] %>: <%=  x[:contributions] %></li>
  </ul>
<% end %>

</div>

 <div id="chartArea"></div>

 <div>
  <h1>Individual Students Data</h1>
  <% @students_data.each do |x| %>
  <ul>
    <li><%= x[:login] %>: <%=  x[:gravatar_id] %></li>
  </ul>
<% end %>
  
 </div>

  <script type="text/javascript">
  var cont = [];
  contrib_array = <%= @contrib.to_json %>
  for (var i = 0; i < contrib_array.length; i++) {
    cont.push(contrib_array[i].contributions)
  };
  console.log(cont)
  var svg = d3.select('#chartArea').append('svg')
      .attr('width', 300)
      .attr('height', 300);

    var multiplier = 20;

    svg.selectAll('rect')
      .data(cont)
      // .transition()
      // .duration(3000)
      .enter()
      .append('rect')
      .attr('class', 'bar')
      .attr('x', function (d, i) {
        return i * 45;
      })
      .attr('y', function (d) {
        return 300 - d * multiplier;
      })
      .attr('width', 30)
      .attr('height', function (d) {
        return d * multiplier;
      });
  </script>